aiohttp==3.6.2
appdirs==1.4.3
argon2-cffi==19.1.0
asgiref==3.1.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.6.2
Automat==0.7.0
bcrypt==3.1.6
beautifulsoup4==4.8.1
certifi==2019.9.11
cffi==1.12.3
channels==2.2.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cycler==0.10.0
Cython==0.29.14
daphne==2.3.0
dj-database-url==0.5.0
Django==2.2.3
django-ckeditor==5.7.1
django-cors-headers==3.0.2
django-filebrowser==3.9.2
django-filter==2.2.0
django-grappelli==2.10.4
django-heroku==0.3.1
django-js-asset==1.2.2
django-summernote==0.8.11.4
django-taggit==1.1.0
django-tinymce==2.8.0
djangorestframework==3.10.3
ez-setup==0.9
Faker==1.0.5
fastcache==1.1.0
future==0.18.2
gmpy==1.17
gmpy2==2.0.8
gunicorn==20.0.2
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
Janome==0.3.10
kiwisolver==1.1.0
line-bot-sdk==1.15.0
lxml==4.4.1
matplotlib==3.1.1
mecab-python3==0.996.2
mpmath==1.1.0
multidict==4.6.1
numpy==1.17.3
Pillow==6.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycparser==2.19
pyee==6.0.0
PyHamcrest==1.9.0
pyparsing==2.4.2
pyppeteer==0.0.25
pystan==2.19.1.1
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.1
requests==2.22.0
six==1.12.0
slack==0.0.2
slackbot==0.5.5
slackclient==2.3.1
slacker==0.13.0
soupsieve==1.9.4
sqlparse==0.3.0
sympy==1.4
text-unidecode==1.2
tqdm==4.36.1
Twisted==19.2.1
txaio==18.8.1
urllib3==1.25.6
webencodings==0.5.1
websocket-client==0.44.0
websockets==8.0.2
whitenoise==4.1.4
wordcloud==1.6.0
yarl==1.3.0
zope.interface==4.6.0
